.home {
	display: flex;
	height: 100vh;
	margin: 0 60px;
	flex-direction: column;
	align-items: center;

	#laptop {
		margin-top: 200px;
		width: 600px;
	}

	#chevron {
		margin-top: 80px;
		width: 40px;
		padding: 20px;
	}
}

.home #about {
	display: flex;
	margin-top: 150px;
}

.left-side {
	grid-area: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.left-side img {
	color: var(--highlight-color);
	width: 25px;
}
