.navbar {
	position: fixed;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fafafa;
}
.navbar ul {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-end;

	li:nth-of-type(2) {
		animation: menu-item-animation 0.8s forwards 1s ease-in-out;
	}
	li:nth-of-type(3) {
		animation: menu-item-animation 0.8s forwards 1.4s ease-in-out;
	}
	li:nth-of-type(4) {
		animation: menu-item-animation 0.8s forwards 1.6s ease-in-out;
	}
	li:nth-of-type(5) {
		animation: menu-item-animation 0.8s forwards 1.8s ease-in-out;
	}
	li:nth-of-type(6) {
		animation: menu-item-animation 0.8s forwards 2s ease-in-out;
	}
}
.navbar .logo {
	color: var(--heading-color);
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	/* margin-left: 50px; */
	margin-right: auto;
}

.navbar .logo h1 {
	color: var(--highlight-color);
	font-weight: 200;
}

.navbar .logo img {
	width: 150px;
}
.navbar a {
	color: var(--text-color);
	text-decoration: none;
	margin-right: 40px;
	font-size: 0.75em;
}

.navbar a:hover {
	color: var(--highlight-color);
	cursor: pointer;
}

.navbar span {
	color: var(--highlight-color);
}

@keyframes menu-item-animation {
	from {
		transform: translateY(-80%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
