.navbar {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 80px;
	background-color: #ffffff;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}
.navbar ul {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-end;
}
.navbar .logo {
	color: var(--heading-color);
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navbar .logo h1 {
	font-weight: 200;
}
.navbar .logo h1:hover {
	color: red;
}
.navbar .logo img {
	width: 150px;
}
.navbar a {
	color: #707070;
	text-decoration: none;
	margin-right: 40px;
}

.navbar a:hover {
	color: red;
}
